<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>6th Man Trivia</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.110832497306-4jq41fkftndjkh9033h4ipqp7upd46oa</string>
					<string>com.techdot.nba</string>
				</array>
			</dict>
		</array>
		<key>CFBundleName</key>
		<string>sixth_man_travia</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>NSCameraUsageDescription</key>
		<string>This app needs camera access to scan QR codes</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>App uses the local network to discover Cast-enabled devices on your WiFi network.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>This app use the location for the Job Finding</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app use the location for the Job Finding</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app use the location for the Job Finding</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app needs access to Microphone for the Voice Messages</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>This permission is required to get images for the profile and feeds.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This permission is required to get images for the profile and feeds.</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>This permission is required to transcribe voice messages.</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
	</dict>
</plist>
